/* 用通配符选择器*来选择清除整个页面内外边距 */

* {
    margin: 0;
    padding: 0;
}


/* 去掉所有li前面的圆点 */

li {
    list-style: none;
}


/* 所有链接去掉下划线 */

a {
    text-decoration: none;
}


/* 去浮动 */

.clearfix：before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    /* CSS3 抗锯齿形 让文字显示的更加清晰 */
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    color: #666;
}


/* 定义整个盒子的宽度，即页面的可视范围 */

.w {
    width: 1200px;
    margin: auto;
}

/* start区域 */
.ui img {
    margin-top:-10px;
    margin-bottom:-10px;
}

.ui .ent{
    font-size:30px;
    margin-top:10px;
    color:#00B5AD;
}


/* banner区域 */

.banner {
    margin-top:50px;
    height: 100px;
    text-align: center;
}

.banner p {
    display: inline-block;
    font-size: 50px;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font-weight:600;
    color: #00B5AD;
}


/* 入口选择区域 */

.box {
    margin-top: 20px;
}



.box ul {
    width: 1225px;
}

.box ul li {
    float: left;
    width: 228px;
    height: 270px;
    margin-right: 50px;
    border-radius: .28571429rem;
    border:solid 1px #D4D4D5;
}

.box ul li h3 {
    margin: 20px 20px 10px 25px;
    padding-bottom:10px;
    font-size: 26px;
    color: #00B5AD;
    text-align: center;
    border-bottom: solid 1px #D4D4D5;
}

.box ul .pass1 {
    margin-left: 200px;
}

.box .info {
    font-size: 17px;
    line-height: 30px;
    color: #00B5AD;
    text-align: justify;
    padding: 0 24px;
    margin-top:20px;
}


/* footer区域 */

.footer {
    height: 60px;
    text-align: center;
    margin-top: 100px;
    color: #bfbfbf;
}