
.body {
    background: url("../images/bg.jpg");
}
/* 填充*/
.m-padded-mini {
    padding: 0.2em !important;
}
.m-padded-tiny {
    padding: 0.3em !important;
}
.m-padded-small {
     padding: 1em !important;
 }
.m-padded-large {
    padding: 2em !important;
}
.m-padded-tb-mini{
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.m-padded-tb-tiny{
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}
.m-padded-tb-small{
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.m-padded-tb{
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.m-padded-tb-large{
    padding-top: 1.3em !important;
    padding-bottom: 1.3em !important;
}
.m-padded-tb-big{
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.m-padded-tb-huge{
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}
.m-padded-tb-massive{
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}
.m-padded-lr-responsive {
    padding-left: 4em !important;
    padding-right: 4em !important;
}
.m-padded-lr{
    padding-left: 1em !important;
    padding-right: 1em !important;
}
/*字体*/
/*--text--*/
.m-text {
    font-weight: 430 !important;
    font-size: 16px !important;
    letter-spacing: 1px !important;
    line-height: 1.5 !important;
}
.m-text-thin{
    font-weight: 300 !important;
}
.m-text-spaced{
    letter-spacing: 0.8px !important;
}
.m-text-lined {
    line-height: 1.8 !important;
}

/*--opacity--透明度*/
.m-opacity-mini {
    opacity: 0.8 !important;
}
.m-opacity-tiny {
    opacity: 0.6 !important;
}



/*--display--*/
.m-inline-block {
    display: inline-block !important;
}
.m-round-icon{
    width: 34px;
    height: 34px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/*--container--*/
.m-container {
    max-width: 72em !important;
    margin: auto !important;
}
.m-container-small {
    max-width: 60em !important;
    margin: auto !important;
}
.m-width-middle {
    max-width: 55em !important;
    margin: auto !important;
}
/*--margin--*/
.m-margin-tb-tiny {
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}
.m-margin-tb-small {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}
.m-margin-tb {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}
.m-margin-tb-large {
    margin-top: 2em !important;
    margin-bottom: 2em !important;
}
.m-margin-bottom-mini {
    margin-bottom: 0.2em !important;
}
.m-margin-bottom-small {
    margin-bottom: 0.5em !important;
}

/*--color--*/
.m-black {
    color: #333 !important;
}

/*--position--*/

.m-right-top {
    position: absolute;
    top: 0;
    right: 0;
}
.m-fixed {
    position: fixed !important;
    z-index: 10 !important;
}
.m-right-bottom {
    bottom: 0 !important;
    right: 0 !important;
}




.m-mobile-show {
    display: none !important;
}
@media screen and (max-width: 768px) {
    .m-mobile-hide {
        display: none !important;
    }
    .m-mobile-show {
        display: block !important;
    }
    .m-padded-lr-responsive {
        padding-left: 0.5em !important;
        padding-right: 0.5em !important;
    }
    .m-mobile-clear {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-mobile-wide {
        width: 100% !important;
    }
}

.m-shadow-small {
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
}