<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑个人信息</title>
</head>
<body>
医生姓名：{{ doctor.name }}
<br>
医生身份证号:{{ doctor.identity_card_no}}
<br>
医生部门:{{ doctor.get_department_display }}
<br>
医生职称:{{ doctor.get_title_display }}
<br>
医生性别:{{ doctor.get_gender_display }}
<br>

<form class="form-edit-description"  method="post">
    {% if message %}
        <div class="alert alert-warning">{{ message }}</div>
    {% endif %}
    {% csrf_token %}
    简介:{{ description_form.description }}
    <div>
        <button type="submit" class="btn btn-primary float-right">提交</button>
    </div>
    </form>
</body>
</html>