<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>医生登陆</title>
    <link rel="stylesheet" href="../../static/Hospital/css/style.css">
</head>

<body>
    <div class="login">
        <h1>Login</h1>
        <form  class="form-login" action="/doctor/login/" autocomplete="off" method="post">
            {% csrf_token %}
            <ul>
                <li><p style="font-style: red; color: red;">{{ message }}</p></li>
                <li class="iput"><label for="">身份证号：</label>{{ login_form.identity_card_no }}</li>
                <li class="iput"><label for="">密码：</label>{{ login_form.password }}</li>
                <li class="iput">
                    <div class="verify">
                        <div id="verify_box">
                            <div id="verify_xbox">
                                <div id="btn2">
                                    <img class="img" src="{% static 'Hospital/img/slide.png' %}" />
                                </div>
                            </div>
                            &nbsp; &nbsp; &nbsp; 按住滑块，拖动到最右边
                        </div>

                    </div>
                    <h6 style="margin-left:160px;margin-top: 10px;">请滑动上方滑块验证</h6>
                </li>
            </ul>
            <button class="btn1" type="submit" style="border-style: none; outline: none; background-color: transparent;">立即登录</button>

        </form>

        <div style="position:absolute;margin-left: 220px;margin-top: 12px;">
            <h6 style="text-align: center;">没有账号？<a href="/doctor/register">注册</a></h6>
        </div>
        <div id="mask">注册成功</div>
        <div class="load"></div>
        <script type="text/javascript" src="{% static 'Hospital/js/slide.js' %}"></script>
        <script type="text/javascript" src="{% static 'Hospital/js/login.js' %}"></script>
    </div>

</body>

</html>