
<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale=1.0">
    <title>诊断</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/Hospital/css/me.css">
</head>
<body>

    <!--导航-->
    <nav class="ui inverted  segment m-padded-tb-large m-shadow-small m-opacity-mini">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">医院管理系统</h2>
                <a href="/doctor/info/" class="m-item item"><i class="user icon"></i>个人信息</a>
                <a href="/doctor/diagnosis/" class="m-item item"><i class="clone icon"></i>诊断记录</a>
                <a href="/doctor/pendingDiagnosis" class="active m-item item"><i class="tags icon"></i>待诊断记录</a>
                <div class="right m-item item">
                    <h4 class="ui teal header item">欢迎，{{ diag.doctor.name }}</h4>
                    <a href="/doctor/logout/" class="text-success "><ins>登出</ins></a>

                </div>
            </div>

        </div>
    </nav>


    <!--中间内容-->
    <div class="m-container-small m-padded-tb-big">
        <div class="container">
            <!--头部-->
            <div class="ui top attached rounded padded segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui teal header">患者诊断</h3>
                    </div>
                    <div class="basic right aligned column">
                        <a href="/doctor/pendingDiagnosis" class="ui teal tiny centered button">返回</a>
                    </div>
                </div>
            </div>

            <div class="ui attached segment">
                <div class="ui segment m-width-middle">
                    <div class="ui list m-padded-lr">
                        <div class="item m-text">医生：{{ diag.doctor }}</div>
                        <div class="item m-text">患者：{{ diag.patient }}</div>
                        <form class=""  method="post">
                            {% csrf_token %}
                            <div class="item m-text">详情：</div>
                            {{ detail_form.detail }}
                            <br>
                            {{ medicine_formset.management_form }}
                            {% for form in medicine_formset %}
                                药品：{{ form.medicine }}
                                数量：{{ form.amount }}
                                <br>
                            {% endfor %}
                            <button type="submit" class="ui teal centered button btn btn-primary float-right m-margin-tb-small" name="add">增加药品</button>
                            <button type="submit" class="ui teal centered button btn btn-primary float-right m-margin-tb-small" name="delete">清空药品</button>
                            <button type="submit" class="ui teal centered button btn btn-primary float-right m-margin-tb-small" name="submit">提交</button>
                            <a href="/doctor/pendingDiagnosis/" class="ui teal centered button  text-success  m-margin-tb-small" ><ins>返回</ins></a>
                        </form>



                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>



<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

</body>
</html>