<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>diagnosis</title>
</head>
<body>
<h1>{{ patient.name }}的就诊记录</h1>
<table border="0">
    <th>医生姓名</th>
    <th>诊断时间</th>
    {% for rec in diagnosis_records%}
    <tr>
        <td>{{ rec.doctor.name }}</td>
        <td>{{ rec.create_time }}</td>
        <td><form action="" method="post">
            {% csrf_token %}
                    <input type="hidden" name="diagnosis" value={{ rec.identity_card_no }}>
                    <input type="submit"  value="诊断详情">
                    </form>
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>