<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale=1.0">
    <title>个人信息</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/Hospital/css/me.css">
</head>
<body>

    <!--导航-->
    <nav class="ui inverted  segment m-padded-tb-large m-shadow-small m-opacity-mini">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">医院管理系统</h2>
                <a href="/patient/info" class="active m-item item"><i class="user icon"></i>个人信息</a>
                <a href="/patient/makeAppointment" class="m-item item"><i class="plus icon"></i>预约挂号</a>
                <a href="/patient/appointment" class="m-item item"><i class="tags icon"></i>挂号记录</a>
                <a href="/patient/diagnosis" class="m-item item"><i class="clone icon"></i>就诊记录</a>
                <div class="right m-item item">
                    <h4 class="ui teal header item">欢迎，{{ patient.name }}</h4>
                    <a href="/patient/logout/" class="text-success "><ins>登出</ins></a>
                </div>
            </div>

        </div>
    </nav>

    <!--中间内容-->
    <div class="m-container-small m-padded-tb-big">
        <div class="container">
            <!--头部-->
            <div class="ui top attached rounded padded segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui teal header">个人信息</h3>
                    </div>

                </div>
            </div>

            <div class="ui attached segment">
                <div class="ui segment m-width-middle">
                    <div class="ui list m-padded-lr">
                        <div class="item m-text">姓名：{{ patient.name }}</div>
                        <div class="item m-text">身份证号: {{ patient.identity_card_no}}</div>
                        <div class="item m-text">性别: {{ patient.get_gender_display }}</div>
                        <div class="item m-text">是否有医保:{% if patient.medical_insurance %} 是 {% else %} 否 {% endif %}</div>
                        <div class="item m-text">电话号码:{{ patient.telephone_no }}</div>
                        <div class="item m-text">出生日期:{{ patient.birth_date }}</div>



                    </div>
                </div>

            </div>

        </div>


            </div>


    <br>
    <br>
    <br>



<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

</body>
</html>