<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户注册</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="login">
        <h1>Login</h1>
        <form action="" autocomplete="off">
            <ul>
                <li><label for="">身份证号：</label><input type="text" name="" id="sfz" placeholder="请输入身份证号"><img src="" alt=""><br>
                    <p></p>
                </li>
                <li><label for="">密码：</label><input type="password" name="" id="pawd" placeholder="密码"><img src="" alt=""><br>
                    <p></p>
                </li>
                </li>
                <li>
                    <div class="verify">
                        <div id="verify_box">
                            <div id="verify_xbox">
                                <div id="btn2">
                                    <img class="img" src="img/lllllll.png" />
                                </div>
                            </div>
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;按住滑块，拖动到最右边
                        </div>

                    </div>
                    <h6 style="margin-left:160px;margin-top: 10px;">请滑动上方滑块验证</h6>
                </li>
            </ul>
        </form>
        <div class="btn1">立即登录</div>
        <div style="position:absolute;margin-left: 210px;margin-top: 50px;">
            <h6 style="text-align: center;">没有账号？<a href="register_patient.html">注册</a></h6>
        </div>
        <div id="mask">注册成功</div>
        <div class="load"></div>
        <script type="text/javascript" src="js/slide.js"></script>
        <script type="text/javascript" src="js/login.js"></script>
    </div>

    <div class="footer w">
        <p>—————— &nbsp End &nbsp ——————</p><br />
        <p>2021 © 北航校医院</p>
    </div>
</body>

</html>