<!DOCTYPE html>
<html lang="zh-CN">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>医院信息系统</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/Hospital/css/me.css">
    <link rel="stylesheet" href="{% static 'Hospital/css/entry.css' %}">

</head>

<body>
{#    <div id="btn2"><img style="margin-top:2px" class="img" src="d.svg"/></div>#}
{#    {% static 'Hospital/css/entry.css'%}#}
    <!-- 头部区域start -->
    <nav class="ui inverted  segment m-padded-tb-large m-shadow-small m-opacity-mini">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <img src="../../static/Hospital/img/logo.svg" height="80" width="80"/>
                <h2 class="ent">医院管理系统</h2>
            </div>
        </div>
    </nav>

    <!-- 头部区域end -->

    <!-- banner部分start -->
    <div class="banner w">
        <p>系统登陆入口</p>
    </div>
    <!-- banner部分end -->

    <!-- 入口选择start -->
    <div class="box w">
        <ul class="clearfix">
            <li class="pass1">
                <a href="/patient/login/" onclick="">
                    <h3>用户入口</h3>
                    <div class="info">用户登录入口（可查询个人挂号信息、就诊记录、明细等）</div>
                </a>
            </li>
            <li>
                <a href="/doctor/login/" onclick="">
                    <h3>医护入口</h3>
                    <div class="info">医护人员入口（可查看待诊断记录，病人诊断记录等信息）</div>
                </a>
            </li>
            <li>
                <a href="/admin/" onclick="">
                    <h3>管理人员入口</h3>
                    <div class="info">管理人员入口（进行系统维护）</div>
                </a>
            </li>
        </ul>
    </div>
    <!-- 入口选择end -->

    <!-- footer模块制作 -->
    <div class="footer">
        <p>—————— &nbsp End &nbsp ——————</p><br />
        <p>2021 © 北航校医院</p>
    </div>
</body>

</html>